# MongoDB Connection String - Required for the application to function
# Replace with your MongoDB connection string
# Example: mongodb+srv://username:password@cluster0.mongodb.net/quizCompetition?retryWrites=true&w=majority
MONGODB_URI=

# Optional: Vercel URL (Automatically set in production)
# VERCEL_URL=

NODE_ENV = development
MONGODB_URI = 